body, html {font-family: 'Rubik', sans-serif;background:#161616;color:#e2e2e2}
h1, p {margin:0;padding:0;}
.main {display:flex;margin:auto;width:1200px;margin-top:60px;justify-content: space-between;font-size: 15px;}
.option {margin:0;height:50px;width:100%}
.option-background {color: #fff}
.option-input {font-family: 'Rubik', sans-serif;font-size: 20px;background: none;border: none;color: #000;height: 30px;width:100%;padding:10px 0px 10px 10px;}
.option-input:focus-visible {outline: none;}
.option-color, .option-background {width: 100%;border: 1px solid #3c3c3c}
.options {display: flex;justify-content: space-between}
.option{border:1px solid transparent}
.option:hover {border: 1px solid red;}
.option-header {color: #e2e2e2;font-weight: normal;margin-bottom:10px}
button {color:#e2e2e2;background:none;margin-top: 20px;margin-right: 10px;border: 1px solid #adbcc7;padding: 8px 20px;font-family: 'Rubik', sans-serif;border-radius:3px;transition:.1s background}
button:hover {cursor: pointer;background:#adbcc724}
button:active {filter:brightness(85%)}
#updateCSS {border:1px solid #8dd28d;background: #8dd28d24}
#updateCSS:hover {background: #8dd28d24}
.option-background .option-input {color:#e2e2e2;}
.option-color .option-input {color:#000;}
.text p {margin: 0;margin-bottom: 10px;height:16px;}
.text {margin-left: 6px;}
.container {background: #1e1e1e;padding: 20px; border-radius: 14px;margin-bottom: 14px;}
.steps-item {display:flex;align-items:center;margin-top: 4px}
.steps-item img {margin-right: 6px;height:16px;}
.main-left, .main-right, .preview {width: 393px;}
.steps {margin-top: 14px;}
.welcome {display: flex;justify-content:space-between;}
.welcome img {height: 66px;width:66px;}
h1 {font-size: 28px;width:230px;}