body, html {font-family: 'Wix Madefor Text';background:#161616;color:#e2e2e2}
h1, h2, p {margin:0;padding:0;}
.main {display:flex;margin:auto;width:1200px;margin-top:60px;justify-content: space-between;font-size: 18px;gap:14px;}
#updateCSS {border:1px solid #8dd28d;background: #8dd28d24}
#updateCSS:hover {background: #8dd28d24}
.container {flex: 300px; background: #1e1e1e;padding: 20px; border-radius: 14px;margin-bottom: 14px;}
.steps-item {display:flex;align-items:center;margin-top: 8px}
.main-left { flex-wrap: wrap; gap: 20px}
.welcome {display: flex;justify-content:space-between;}
.welcome img {height: 66px;width:66px;}
h1 {font-size: 30px;}
h2 {font-size: 20px}
.new-list, .contact-info, .steps  {margin-top: 14px}
.menu-frame {border: none; height: 150vh;flex: 1;width: 525px}
.bettercanvas {background: -webkit-linear-gradient(315deg, #f00, #ff7600);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.icon  {height: 24px; width: 24px;margin-right: 10px;}
.pin-icon {fill: #727272}
.puzzle-icon {fill: #fff;}