:root {--inputbg: #1010104f;--containerbg: #00000047;--inputbg: #ffffff14;}
body{width:505px;height: 100%; overflow-x: hidden; font-family: 'Wix Madefor Text', sans-serif;color: #e2e2e2;background: #161616;transition: .3s height}
button {font-family: 'Wix Madefor Text', sans-serif}
h1, h2, p, body{margin:0;padding:0}
h1 {font-size:30px;}
h2 {font-size:24px;}
.option input{display:none;}
.options input:nth-of-type(1).checked ~ .slider .sliderknob{background-color:#e1e1e12e;}
.options input:nth-of-type(2).checked ~ .slider .sliderknob{transform:translate(18px);background-color:#8dd28d;}
.option{display:flex;align-items:center;}
.option span{margin-left:8px;}
.main{position: relative;padding: 20px}
.sliderknob{position:absolute;transition:all .1s linear;top:4px;height:14px;width:14px;border-radius:5px;margin-left:4px;z-index:1;}
.sliderbg{background-color:var(--inputbg);width:100%;height:100%;border-radius:7px;}
.slider:hover {cursor:pointer}
.slider{height:22px;min-width:40px;position:relative;}
.switch_disabled {opacity: .3}
.timeset {display: block;margin-top: 5px}
.timeset span {margin-left: 8px;}
.header {font-size: 16px;display: flex;align-items: center;gap:16px; margin-bottom:8px;}
.header h1 { font-weight: 600; font-size:28px; }
#bclogo {height: 32px;width:32px;filter: grayscale(1) brightness(100)}
#numAssignmentsSlider, #numTodoItemsSlider {display: block;margin-top: 14px;width: 100%;-webkit-appearance: none; appearance: none;background:var(--inputbg);outline: none;height:6px;border-radius:20px;}
#numAssignmentsSlider::-webkit-slider-thumb,  #numTodoItemsSlider::-webkit-slider-thumb {-webkit-appearance: none; appearance: none;height: 18px; width: 18px;background: #727272;cursor: pointer;border-radius:30px;}
.option-container {font-size: 14px; margin-top: 8px;background: var(--containerbg);padding: 18px;border-radius: 14px;box-sizing:border-box}
.options .option-container {padding: 14px;}
a.option-container {display: block;color:#5ca5f6;font-size: 14px;}
a.option-container:hover {background: #333}
#customDomain {font-size: 12px; background: var(--inputbg); border: none;padding:8px;color: #e2e2e2;margin-top: 6px;border-radius: 7px; font-family: inherit;}
#customDomain {width: 100%; box-sizing: border-box}
#auto_dark_start, #auto_dark_end {padding: 3px 5px; font-size:12px;background: var(--inputbg);color:#e2e2e2;border:none;border-radius: 7px;}
.options-left {margin-right: 8px;}
.options-left, .options-right {width: 50%;}
.customDomain {font-weight:600}
.changer {margin:0;margin-bottom: 0px;width:100%}
.option-background {color: #fff}
.color-changer { font-family: inherit;font-size: 20px;background: none;border: none;color: #000;height: 30px;width:100%;padding:10px 0px 10px 10px;}
.color-changer input:focus-visible {outline: none;}
.option-color, .option-background {width: 100%;}
.options {display: flex;justify-content: space-between}
.options-presets {display: flex;flex-wrap:wrap;gap:5px;}
.color-type-header {color: #e2e2e2;font-weight: normal;margin: 0;font-size:15px;min-width:160px;font-weight: bold;}
button:hover {cursor: pointer;background:#adbcc724}
button:active {filter:brightness(85%)}
#updateCSS {border:1px solid #8dd28d;background: #8dd28d24}
#updateCSS:hover {background: #8dd28d24}
.option-background .color-changer {color:#e2e2e2;}
.option-color .color-changer {color:#000;}
.customization {margin-top: 12px}
.customization-header {font-size: 20px;margin-top: 10px}
.colors-button, .customization-button {flex: auto; font-size:12px;color:#e2e2e2;background:var(--inputbg);border: none;padding: 10px 20px; font-family: inherit;border-radius:7px;transition:.1s background;font-weight:400}
.colors-button {min-width:90px}
.sub-options {margin-top: 10px;margin-left: 3px}
.sub-option {display: flex; gap: 5px;margin-top: 2px;}
h2 {margin-top: 20px;font-weight:600}
.header-small {margin: 0 0 10px; font-weight: 600;font-size:16px;}
.tab {display: none; padding: 20px;}
#advanced-current, #advanced-past {display: flex; flex-direction: column; gap: 10px;margin-top:10px;}
.custom-card {width: 100%;margin: 0;font-size:12px}
.custom-card-title {font-size:16px;overflow:hidden;height:18px;margin-bottom:4px;font-weight: 600;white-space: nowrap;}
.card-input {font-size: inherit;background: var(--inputbg); border: none;padding:6px;color: #e2e2e2;margin-top: 6px;border-radius: 6px; font-family: inherit;width:100%; box-sizing: border-box;}
.custom-card-inputs .card-input {background: var(--inputbg);border: 1px solid #1a1a1a7a}
.custom-card-name, .custom-card-hide {margin-top: 5px}
.custom-card-hide {display: flex; align-items: center;}
.option-name {font-weight: 600}
.sub-text {font-size: 12px;color: #c7c7c7}
#advanced-settings, #gpa-bounds-btn, #custom-font-btn, #customize-dark-btn, #card-colors-btn {width: 100%;}
.back-btn {width: 120px;height:100%;margin-top:0}
.big-button {border: none;border-radius: 7px;background: var(--containerbg);color: #fff;font-family: inherit;padding: 12px 10px;font-weight:600}
#setSingleColor, #setGradientColor {padding: 8px 20px;margin-top:5px;}
.gpa-bounds-input {font-size: 14px;background: var(--inputbg); border: none;padding:6px;color: #e2e2e2;margin-top: 6px;border-radius: 6px; font-family: inherit; width: 55px; box-sizing: border-box;text-align: right}
.gpa-bounds span {font-size: 16px; width: 25px;display: inline-block}
.gpa-bounds-explanation {width:200px;height:100%;flex: 1;}
.tab-header {display: flex;justify-content: space-between;gap:20px;align-items:center}
.custom-font-flex {display: flex; align-items: center;font-size: 11px;}
#custom-font-family, #custom-font-link {width:150px}
.custom-links-container, .custom-card-left {flex: 1;}
.custom-card-inputs {display: flex; gap: 10px;margin-top: 10px;}
#quick-fonts {display: flex; flex-wrap: wrap;gap: 5px;margin-top:10px;}
#quick-fonts .customization-button {padding: 13px 20px;}
.changer-container {display: flex; align-items: center;gap: 10px;}
.changer-container .card-input[type="color"] {height: 35px; max-width: 35px;background: none; border: none; padding: 0; margin: 0;cursor: pointer}
.changer-container .card-input[type="color"]::-webkit-color-swatch {border-radius:6px;width:40px;margin:0;padding:0;}
.color-options {}
#gradientColorFrom:hover, #gradientColorTo:hover {cursor: pointer}
.color-picker-small {height: 30px; width: 30px; border: none; background:var(--inputbg); border-radius: 4px}
.color-picker-small::-webkit-color-swatch {border-radius: 4px; border: 7px solid #000000;border: none;}
.color-picker-small::-moz-color-swatch {border-radius: 4px; border: 7px solid #000000;border: none;}
.more-options-container {display: grid; gap: 6px; grid-template-columns: repeat(4, 1fr); margin-top: 10px}
.more-options-container .big-button {display: flex; flex-direction: column; gap: 6px;justify-content:center;align-items:center;padding:15px 10px}
.palette-selection {display: flex; gap: 5px;align-items: center;margin-top: 5px;}
.palette-selection .card-input {width: 70px;margin: 0;}
.colors-preview {display: flex;overflow:hidden;border-radius:3px;margin-top:4px;}
.color-preview {flex: 1;height:8px;}
.theme-button {padding: 17px 10px; padding: 10px 10px 20px;text-align:left;transition: .25s background; background-size: cover; background-position: center;text-shadow: 0 0 4px #313131;overflow:hidden;}
.theme-button:hover {background-size: 120%; background-position:center;}
.theme-button-creator {font-size:10px;}
.theme-button-title {font-weight: bold}
.theme-sort-btn {padding:8px 16px;border-radius:7px;background:none;border:none;color: #9d9d9d;font-size:12px;font-weight:600;}
.theme-header {display:flex;justify-content: space-between;margin-bottom:10px;align-items:center}
.theme-controls {display:flex;justify-content: space-between;margin-bottom:6px}
#theme-sorts {display:flex;align-items:center;background:var(--inputbg);border-radius: 7px;padding:10px 16px;gap:10px;color: #fff;border:none;font-weight: 600;}
#premade-themes-pagenum {font-size:13px;margin-right: 6px;font-weight:600}
.color-options .card-input { flex: 1;margin: 0;}
.error-message {margin: 20px;font-size: 14px; color: red;}
textarea {resize: vertical}
#premade-themes, #premade-darkmodes {display:grid;grid-template-columns: repeat(4, 1fr);gap: 3px;}
#error_log_output, #rk_output {min-height: 100px;} 
#image-tester {display: none;}
#alert {font-size:13px;background: #e7495ebd; backdrop-filter: blur(2px); border-radius: 8px; padding: 15px; margin: 20px;position: fixed; transition: .3s bottom; bottom: -400px; left: 0;z-index:1000;}
#alert:hover {cursor:pointer;}
.custom-card-header {display: flex; justify-content: space-between;gap: 20px;}
.sidebar-changer {display: flex;gap: 10px;}
.custom-key { margin-right: 5px; }
.options-presets .customization-button {padding:9px 14px}
#export-output {margin: 0; height: 100%;}
input[type="checkbox"] { appearance: none; background: var(--inputbg); margin: 0; width: 16px; height: 16px; border: 1px solid #1a1a1a;;border-radius: 4px; display: grid; place-content: center;}
input[type="checkbox"]::before { content: ""; width: 10px; height: 10px; transform: scale(0); box-shadow: inset 1em 1em #323232; transform-origin: center; clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);}
input[type="checkbox"]:checked::before {transform: scale(1);}
input[type="checkbox"]:checked {background: #8dd28d;}
#gradientbg {height: 550px;width: 150%;position: absolute;z-index: -1;opacity: .4;left: -25%; top: 0px;background: radial-gradient(at 50% 0%, #ff8349 0px, transparent 50%), radial-gradient(at 90% 0%, #ff67bb 0px, transparent 50%), radial-gradient(at 10% 0%, #ff3558 0px, transparent 50%);}
#dark-mode-fix-urls { display: flex; gap: 5px;flex-wrap: wrap;}
.fixed-url {display: flex; gap:10px; align-items: center;flex: 0;padding: 7px 14px;}
.fixed-url button {background: #1e1e1e;padding: 3px 6px;border-radius:4px;color: #fff;border:none;font-size:12px}
#premade-themes-right, #premade-themes-left {background: var(--inputbg);color:#fff;border-radius:7px;border:none;padding:8px 14px;font-size:12px;font-weight:600}
.update-date {color: #9f9f9f;margin-top: 0;margin-bottom: 10px;font-weight: 600;}
.updates-container .header-small {margin-bottom: 5px;}
::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-track {background: #161616;}
::-webkit-scrollbar-thumb {background: #323232;border-radius:2px;}
::-webkit-scrollbar-button {background: #161616; height: 4px}